{% extends "base-view.html" %}

{% load staticfiles %}

{% block body_block %}

    <h1>List of all cars</h1>

    <div class="table">

      <table class="table table-responsive">

        <thead>
          <th>#</th>
          <th>Topic</th>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Car Type</th>
          <th>Engine Type</th>
        </thead>

        <tbody>

          {% for car in cars %}

            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="#">{{ car.headline }}</a></td>
              <td>{{ car.manufacturer }}</td>
              <td>{{ car.car_model }}</td>
              <td>{{ car.car_type }}</td>
              <td>{{ car.engine_type }}</td>
            </tr>

          {% endfor %}

        </tbody>

      </table>

    </div>



{% endblock %}
