{% extends "base-view.html" %}

{% load staticfiles %}

{% block body_block %}

    <h1>Car Details</h1>

    {% if api_response.status_code == 200 %}


    <div class="table">

      <table class="table table-responsive">

        <thead>
          <th>#</th>
          <th>Headline</th>
          <th>Data</th>
        </thead>

        <tbody>

            <tr>
              <td>1</td>
              <td>ID</td>
              <td>{{ datas.id }}</td>
            </tr>

            <tr>
              <td>2</td>
              <td>Topic</td>
              <td>{{ datas.headline }}</td>
            </tr>

            <tr>
              <td>3</td>
              <td>Manufacturer</td>
              <td>{{ datas.manufacturer }}</td>
            </tr>

            <tr>
              <td>4</td>
              <td>Car Model</td>
              <td>{{ datas.car_model }}</td>
            </tr>

            <tr>
              <td>5</td>
              <td>Car Type</td>
              <td>{{ datas.car_type }}</td>
            </tr>

            <tr>
              <td>6</td>
              <td>Engine Type</td>
              <td>{{ datas.engine_type }}</td>
            </tr>

            <tr>
              <td>7</td>
              <td>Chasis Number</td>
              <td>{{ datas.chasis_number }}</td>
            </tr>

            <tr>
              <td>8</td>
              <td>Description</td>
              <td>{{ datas.description }}</td>
            </tr>

            <tr>
              <td>9</td>
              <td>Tags</td>
              <td>{{ datas.tags }}</td>
            </tr>

            <tr>
              <td>10</td>
              <td>Price</td>
              <td>{{ datas.price }}</td>
            </tr>

            <tr>
              <td>11</td>
              <td>Active Status</td>
              <td>{{ datas.is_active }}</td>
            </tr>

            <tr>
              <td>12</td>
              <td>Post Created At</td>
              <td>{{ datas.created_at }}</td>
            </tr>

        </tbody>

      </table>

    </div>


    {% else %}

    <div class="alert alert-danger" role="alert">

       <strong>Be Careful!</strong> No such cars are on our list. Stop inputing ids.

    </div>


    {% endif %}





{% endblock %}
